@import "styles/SubmitButton.css";

* { box-sizing: border-box;}
html, body { height: 100%; margin: 0; padding: 0; font-family: 'Helvetica', 'sans serif';}

div,form { width: 100%; }
#app {
    max-width: 120ch;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    font-family: 'LEMON MILK';
    font-weight: normal;
    padding: 1rem;
}

#app > * {
    margin-bottom: 1rem;
}

#form > * {
    border: 0.1rem solid #CCC;
    padding: 2rem;
    box-shadow: inset 0px 0px 5px 2px #CCC;
}

#submissions > * {
    border: 0.1rem solid #CCC;
    padding: 1rem;
}

#toolbar {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

input[type="text"], input[type="email"], input[type="password"] { 
    border: none;
    border-bottom: 0.2rem solid blue;
    font-family: 'Helvetica', 'sans serif';
    font-size: 12pt;
    width: 100%;
}

h1 a {
    color: black;
}

h1 a:visited {
    color: black;
}

input[type="text"]:focus {
    outline: none;
}

textarea {
    border:0.2rem solid blue;
    padding: 0.2rem;
    font-family: 'Helvetica', 'sans serif';
    resize: vertical;
    width: 100%;
    height: 8ch;
}

h1 {
    font-family: 'LEMON MILK';
    font-weight: bold;
    text-align: center;
    font-size: 24pt;
    user-select: none; 
}

button {
    background-color: #CCC;
    font: bold 14pt 'LEMON MILK';
    border: none;
    padding: 0.5rem;
    box-sizing: border-box;
    transition: linear 50ms background-color;
}

#toolbar button {
    padding: 1rem;
}

 button[type="submit"] {
    margin: 0;
    width: 100%;
}
button:hover:enabled {
    background-color: #d8d8d8;
    cursor: pointer;

}
button:active:enabled {
    background-color: #999;
    cursor: pointer;
}

button:hover:disabled {
    cursor: pointer;
}

@media(max-width: 500px) {
    .form > div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

.submission table th {
    border-bottom: 0.2rem solid #CCC;
    border-collapse: collapse;
    font: normal 10pt "LEMON MILK"
}

.submission th, .submission td {
    padding: 0.5rem;
}

.error {
    background-color: #cc3333;
    padding: 1rem;
    font: lighter 12pt "Helvetica", "sans-serif";
    display: flex;
    gap: 2rem;
    align-items: center;
}

.error-badge {
    font: normal 12pt "LEMON MILK";
}

.error-body {
    text-align: left;
}


