<!doctype html>
<meta charset="utf-8">
<title>Login</title>
<h1 role="doc-title" title="Right click me to see more names!">Create Account</h1>
<p><img style="vertical-align:bottom; height: 1.5rem;" src="/assets/svg/tea-emoji.svg" alt="TEA" /></p>
<form action="/login" method="POST">
    <div style="display:flex;justify-content: space-between;">
        <label for="password">Name: </label><input type="text" name="name" placeholder="" />
    </div>
    <div style="display:flex;justify-content: space-between;">
        <label for="password">Pronouns: </label><input type="text" name="pronouns" placeholder="" />
    </div>
    <div style="display:flex;justify-content: space-between;">
        <label for="email">Email: </label><input type="text" name="email" pattern=".+@ufl.edu" />
    </div>
    <div style="display:flex;justify-content: space-between;">
        <label for="password">Password: </label><input type="password" name="password" placeholder="Maybe choose a short line of poetry as your password!" />
    </div>
    
    <button type="submit">Create Account</button>
</form>
<link rel="stylesheet" href="/assets/LemonMilk/fonts.css" />
<link rel="stylesheet" href="/dist/submit/main.css" />
<style>

    body {  max-width: 80ch;text-align: center; margin-left: auto; margin-right: auto; }
    body > * { padding: 1rem;  }
    form > * {
        margin-bottom: 1rem;
    }
    label {
        font-family: "LEMON MILK";
    }
    p { font-weight: 100;}
    input { max-width: 60ch; }
</style>
<script src="/dist/login/create-account.js"></script>