<!doctype html>
<meta charset="utf-8">
<title>Login</title>
<h1 role="doc-title" title="Right click me to see more names!">Log in to TEA</h1>
<p><img style="vertical-align:bottom; height: 1.5rem;" src="/assets/svg/tea-emoji.svg" alt="TEA" /></p>

<form action="/login" method="POST">
    <div style="display:flex;justify-content: space-between;">
        <label for="email">Email: </label><input type="text" name="email" pattern=".+@ufl.edu" />
    </div>
    <div style="display:flex;justify-content: space-between;">
        <label for="password">Password: </label><input type="password" name="password" placeholder="don't tell anyone!" />
    </div>
    <button type="submit">Login</button>
</form>
<link rel="stylesheet" href="/assets/LemonMilk/fonts.css" />
<link rel="stylesheet" href="/dist/submit/main.css" />
<h4><a href="/create-account">Create Account</a></h4>
<style>
    a { font-family: "LEMON MILK"; }
    body {  max-width: 80ch;text-align: center; margin-left: auto; margin-right: auto; }
    body > * { padding: 1rem;  }
    form > * {
        margin-bottom: 1rem;
    }
    label {
        font-family: "LEMON MILK";
    }
    p { font-weight: 100;}
    input { max-width: 60ch; }
</style>
<script src="/dist/login/login.js"></script>