<!doctype html>
<meta charset="utf-8">
<title>Logout</title>

<h1 role="doc-title" title="Right click me to see more names!">Logged Out</h1>
<p><img style="vertical-align:bottom; height: 1.5rem;" src="/assets/twemoji/1f49a.svg" alt="TEA" /></p>
<link rel="stylesheet" href="/assets/LemonMilk/fonts.css" />
<link rel="stylesheet" href="/dist/submit/main.css" />
<style>

    body {  max-width: 80ch;text-align: center; margin-left: auto; margin-right: auto; }
    body > * { padding: 1rem;  }

    p { font-weight: 100;}
</style>