<!doctype html>
<meta charset="utf-8">
<title>Submit to TEA</title>
<h1 role="doc-title" title="Right click me to see more names!">Submission Recieved!</h1>
<p><img style="vertical-align:bottom; height: 1.5rem;" src="/assets/svg/tea-emoji.svg" alt="TEA" /></p>
<style>
    body { text-align: center;}
    body > * { margin: 1rem; padding: 1rem; }
    p { font-weight: 100;}
</style>

<p>Thank you for submitting to <a href="https://tealiteraryandartsmagazine.com">TEA Literary and Arts Magazine</a>.</p>
<link rel="stylesheet" href="/assets/LemonMilk/fonts.css" />
<link rel="stylesheet" href="/dist/submit/main.css" />